.parent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.child {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    color: white;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: bold;
    text-shadow: 1px 1px 5px gray;
}

#one {
    background-color: #f44336;
    height: 33vh;
    width: 50%;
}
#two {
    background-color: #FF9800;
    height: 33vh;
    width: 50%;
}
#three {
    background-color: #FFEB3B;
    height: 33vh;
    width: 50%;
}
#four {
    background-color: #8BC34A;
    height: 33vh;
    width: 50%;
}
#five {
    background-color: #2196F3;
    height: 33vh;
    width: 50%;
}
#six {
    background-color: #9C27B0;
    height: 33vh;
    width: 50%;
}

@media only screen and (min-width: 600px) {
    #one {
        height: 50vh;
        width: 33%;
    }
    #two {
        height: 50vh;
        width: 33%;
    }
    #three {
        height: 50vh;
        width: 33%;
    }
    #four {
        height: 50vh;
        width: 33%;
    }
    #five {
        height: 50vh;
        width: 33%;
    }
    #six {
        height: 50vh;
        width: 33%;
    }
}